body {
  background:silver;
}

#h2 {
  text-align: center;
  color: darkred;
}

#titel {

  text-align: center;
}

#hobbies {
  color: darkred;
}

#count {
  color: darkred;
}

#h4 {
  color: darkred;
}

#h5 {
  color: darkred;
}

#succes {
  color: darkgreen;
  text-align: center;
}

#foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
#table {
        border: 1px solid #3a373752;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;

      }

#div {
  text-align: center;
}

#table, th, td {
 border: 1px solid black;
 width: auto;

}
